<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 registration-box text-left">
            <h1>New Blog Post</h1>
            <hr/>
            <%= render "form", blog: @blog %>
        </div>
    </div>
</div>